<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="ShopDb" connectionString="data source=k2.liara.cloud,33504;Database=myDB;User ID=sa;Password=hfa4HxYHKfFvrf5aAuj8OKAx;encrypt=false;Trust Server Certificate=true;" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
